#cttv-root {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    justify-content: start;
}

#cttv-root * {
    user-select: none;
}

#cttv-menu-controller {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    z-index: 1;
}

.cttv-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0.5rem;
    height: 6rem;
    overflow-y: scroll;
}

.cttv-menu::-webkit-scrollbar {
    display: none;
}

.cttv-menu * {
    z-index: 1;
}

.cttv-menu[visible="false"] {
    display: none;
}

.cttv-btn {
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.1rem;
    border-radius: var(--border-radius-medium);
}

.cttv-btn:hover {
    background-color: var(--color-background-button-text-hover);
    cursor: pointer;
}

.cttv-btn img,
.cttv-btn svg,
.cttv-btn .cttv-icon-text {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
}

.cttv-btn.cttv-btn-x2 {
    width: 6rem;
}

.cttv-btn.cttv-btn-x3 {
    width: 8rem;
}

.cttv-btn.cttv-btn-x3 .cttv-icon-text {
    width: 4rem;
}

.cttv-icon-text {
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cttv-icon-text-4 {
    font-size: 80%;
}

.cttv-icon-text-9 {
    font-size: 60%;
}
